.darkmode{
  --backgroundcolor: #000000;
  --bordercolor: white;
  --gamecolor: black;
  --textcolor: white;
}
.lightmode{
  --backgroundcolor: white;
  --bordercolor: black;
  --gamecolor: skyblue;
  --textcolor: rgb(0, 0, 0);
}

body {
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    font-family: "OCR", "Lucida Console", "Courier New", monospace;
    justify-content: center;
    text-align: center;
}

canvas {
    background-color: var(--gamecolor); 
    border:1px solid var(--bordercolor);
}

canvas:hover {
    cursor: pointer;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
}

#switch {
    padding-right:20px;
    padding-left: 20px;
    font-size: 20px;
}

.titlecontainer {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

div {
    margin: 8px;
}